.card_info_conteiner {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.card_info_conteiner > p {
  flex-grow: 1;
}

.card_info_conteiner > span {
  background-color: rgba(233, 216, 166, 0.6);
  font-size: 0.8em;
  font-weight: 900;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(155, 34, 38, 0.2);
}
